<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bem vindo ao ConvertX!</h1>
        <p class="lead">Para enviar vídeos nessa página é necessário estar logado, você pode criar uma conta rapidamente. (Ou usar uma conta
            abaixo)
            <br/>O Usuário de administrador (admin/admin) poderá ver todos vídeos, enquanto os demais, somente os deles</p>


        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <div class="alert alert-success">
                    <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                </div>

                <form name="uploadVideo" method="POST" enctype="multipart/form-data" action="/api/videos/adicionar">
                    <table>
                        <tr>
                            <td>Selecione um vídeo para enviar! (Tamanho máximo: 150mb)</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="file" name="file" [(ngModel)]="arquivo">
                                <input type="hidden" name="user" [(ngModel)]="account.login">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <br>
                                <br>
                                <button type="submit" onclick="this.form.submit()" class="btn btn-primary">Enviar</button>
                            </td>
                        </tr>
                    </table>
                </form>

            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
                <span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:
                    <br/>- Administrator (login="admin" and password="admin")
                    <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div>